@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

header {
	width: 100%;
	height: 40vh;
	background: #191f26;
	position: relative;
	padding: 5vh 10vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	h1 {
		font: bold 24px/1 'orbitron';
		color: #fff;
	}
	#gnb {
		display: flex;
		gap: 60px;
		font: 14px/1 'arial';
		color: #ddd;
		padding-top: 10px;

		li {
			cursor: pointer;
		}
	}
	.fa-bars {
		position: absolute;
		right: 10vw;
		top: 5vh;
		font-size: 24px;
		color: #fff;
		display: none;
	}
}

figure {
	width: 100%;
	height: 60vh;
	background: #191f26;
	position: relative;
	border-top: 1px solid rgba(255, 255, 255, 0.3);

	.tits {
		height: 12vw;
		position: absolute;
		top: -5vw;
		left: 10vw;

		h2 {
			position: absolute;
			top: 0;
			left: 0;
			font: bold 5vw/1 'orbitron';
			color: rgba(255, 255, 255, 0.2);
			opacity: 0;
			transform: translateX(-100px);
			transition: 1s;

			&.on {
				opacity: 1;
				transform: translateX(0px);
			}
		}
	}

	.bgs {
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: #191f26;
		opacity: 1;
		position: relative;

		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0;
			transition: opacity 2s;

			&.on {
				opacity: 0.4;
			}
		}
	}

	.paging {
		position: absolute;
		top: -50px;
		right: 10vw;
		font-family: 'orbitron';
		font-size: 30px;
		color: #bbb;
		letter-spacing: 1px;

		strong {
			color: #fff;
			font-weight: normal;
			opacity: 0.7;
		}
		span {
			color: #ddd;
			display: inline-block;
			opacity: 0.6;
			transform: scale(0.5) translateX(-20px) translateY(10px);
		}
	}

	.banner {
		width: 70%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;

		ul {
			//전체 폭 기준으로 3등분한 패널이 5개 좌우로 묶여야 되므로
			// 100% / 3한 값에서 다시 곱하기 5개
			width: calc(100% / 3 * 5);
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

			li {
				float: left;
				width: calc(100% / 5);
				height: 100%;
				border-left: 1px solid rgba(255, 255, 255, 0.2);
				color: #fff;
				position: relative;
				transition: border 0.5s;

				&:before {
					content: '';
					width: 100%;
					height: 100%;
					background: rgba(21, 32, 44, 0.5);
					position: absolute;
					bottom: -100%;
					left: 0;
					transition: 0.5s;
				}

				.txt {
					width: 80%;
					left: 10%;
					position: absolute;
					top: 60%;
					transition: 0.5s;

					strong {
						display: block;
						width: 100%;
						font: 20px/1 'orbitron';
						margin-bottom: 20px;
						opacity: 0.4;
						transition: 0.5s;
					}

					h2 {
						width: 100%;
						font: 24px/1 'orbitron';
						color: #fff;
						letter-spacing: 1px;
						opacity: 0.5;
						padding-top: 20px;
						position: relative;
						transition: 0.5s;

						&::before {
							content: '';
							display: block;
							width: 100%;
							height: 2px;
							background: rgba(255, 255, 255, 0.5);
							position: absolute;
							top: 0;
							left: 0;
						}
						span {
							display: block;
							width: 0%;
							height: 2px;
							background: orange;
							opacity: 0.7;
							position: absolute;
							top: 0;
							left: 0;
						}
					}

					p {
						font: 12px/1.3 'arial';
						color: #fff;
						opacity: 0;
						height: 0;
						margin-top: 30px;
						overflow: hidden;
						transition: 0.5s;
					}

					a {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 120px;
						height: 30px;
						border: 1px solid rgba(255, 255, 255, 0.5);
						font: 10px/1 'arial';
						color: #fff;
						margin-top: 30px;
						opacity: 0;
						transform: translateY(100px);
						transition: opacity 0.5s 0.2s, transform 0.5s 0.2s;
					}
				}

				//li hover style
				&:hover {
					border-left: 1px solid transparent;
					&::before {
						bottom: 0%;
					}
					.txt {
						top: 20%;

						p {
							height: auto;
							opacity: 0.4;
						}
						a {
							transform: translateY(0px);
							opacity: 1;
							transition: 0.5s;

							&:hover {
								background: #fff;
								color: #555;
							}
						}
					}
				}

				//목록상에서는 2번째이지만 실제 화면상에서는 첫번째인 활성화 스타일
				&:nth-of-type(2) {
					p {
						opacity: 0.5;
					}
					h2 {
						opacity: 1;

						span {
							width: 100%;
							animation: ani 2s linear 1;
						}
					}
				}
			}
		}
	}

	.controls {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 30%;
		padding: 50px;
		display: flex;
		justify-content: space-between;

		.auto {
			display: flex;
			gap: 20px;
			color: #fff;

			li {
				cursor: pointer;
				transition: 0.5s;
				opacity: 0.5;

				&.on {
					opacity: 1;
					transform: scale(1.3);
				}
			}
		}

		.btns {
			display: flex;
			gap: 20px;
			color: #fff;

			li {
				cursor: pointer;

				i {
					display: inline-block;
					transform: scale(1);
					opacity: 0.5;
				}
				&:active {
					i {
						animation: scale 0.2s linear 1;
					}
				}
			}
		}
	}
}

.mask {
	width: 100%;
	height: 100vh;
	background: #191f26;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 600px;
		max-width: 100%;
	}
}

@keyframes ani {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
@keyframes scale {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(5);
		opacity: 0;
	}
}

@media screen and (max-width: 1159px) {
	header {
		#gnb {
			display: none;
		}
		.fa-bars {
			display: block;
		}
	}

	figure {
		.tits {
			display: none;
		}
		.banner {
			width: 100%;
		}
		.controls {
			width: 40%;
			bottom: 100%;
			padding: 20px 10vw;
		}
	}
}

@media screen and (max-width: 669px) {
	figure {
		.tits {
			display: inline-block;
			h2 {
				font-size: 10vw;
				top: -10vw;
			}
		}
		.controls {
			width: 100%;
			bottom: calc(100% + 20vw);
		}
		.paging {
			display: none;
		}
		.banner ul li .txt {
			h2 {
				text-indent: -1000px;
			}
			p {
				display: none;
			}
			a {
				width: 100%;
			}
		}
	}
}
