@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.mask {
	width: 100%;
	height: 100vh;
	background: #191f26;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 600px;
		max-width: 100%;
	}
}
